/*!
 * main.css
 * Wijzig dit bestand om de opmaak van de pagina te veranderen.
 * Dennis Boogaard 6-9-2015
 */

body {
	background-color:#fff;
	padding-top: 70px; 
	height: 100%;
}

.nav li {
	padding-left: 10%;	
}

.nav a {
	color:#253529;
	font-size:20px;
}

.jumbotron {
  background-image: url('../images/webdesigner.jpg');
  background-color: #cccccc;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: thick solid;
  border-bottom-color: #B2BEB5;
  border-top: thick solid;
  border-top-color: #B2BEB5;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.jumbotron a {
  color: #fff;
  text-decoration:underline;
}

.leesmeer {
  background-color: #fff;
}

.leesmeer h3 {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  color:#253529;
}

.leesmeer p {
	color:#253529;
	font-weight: bold;
	font-family: sans-serif;
}

.leesmeer a {
  color: #00b0ff;
}

.leesmeer2 h3 {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  color:#253529;
}

.leesmeer2 p {
	color:#253529;
	font-weight: bold;
	font-family: sans-serif;
}

.leesmeer2 a {
  color: #00b0ff;
}

.afbeeldingen {
    background-color: #fff;
}

.afbeeldingen p {
    margin-bottom: 13px;
}

table {
    border-collapse:separate;
    border:solid 10px;
    border-radius:6px;
    border-style: ridge;
    border-color: #B2BEB5;
}

.techniektable th:hover {
	background-color:#848482;
}

th {
	text-align: center;
	height: 50px;
	border-collapse:separate;
    border:solid 10px;
    border-radius:6px;
    border-style: outset;
    border-color: #B2BEB5;
}

.profiel h1 {
  	font-family: sans-serif;
  	font-size: 30px;
  	font-weight: bold;
  	color:#253529;
}

.profiel h2 {
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
	color:#253529;
}

.profiel p {
	color:#253529;
	font-weight: bold;
	font-family: sans-serif;

}

.hobbys h2 {
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
	color:#253529;
}

.hobbys p {
	color:#253529;
	font-weight: bold;
	font-family: sans-serif;

}

.motivatie h1 {
  	font-family: sans-serif;
  	font-size: 30px;
  	font-weight: bold;
  	color:#253529;
}

.motivatie p {
	color:#253529;
	font-weight: bold;
	font-family: sans-serif;
}

.technieksequence h1 {
  	font-family: sans-serif;
  	font-size: 30px;
  	font-weight: bold;
  	color:#253529;
}

.technieksequence h2 {
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
	color:#253529;
}

.technieksequence p {
	color:#253529;
	font-weight: bold;
	font-family: sans-serif;
}

.techniektable h2 {
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
	color:#253529;
}

.techniektable p {
	color:#253529;
	font-weight: bold;
	font-family: sans-serif;
} 

.sitemap h1 {
  	font-family: sans-serif;
  	font-size: 30px;
  	font-weight: bold;
  	color:#253529;
}

.onderkant {
	background-color:#848482;
	border-top: thick solid;
    border-top-color: #B2BEB5;
}

.onderkant h3 {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  color:#253529;
}

.onderkant p {
	color:#253529;
	font-weight: bold;
	font-family: sans-serif;
}

.onderkant-motivatie {
    bottom: 0;
    position: fixed;
    width: 100%;
}

.onderkant-motivatie {
	background-color: #848482;
	border-top: thick solid;
    border-top-color: #B2BEB5;
}

.onderkant-motivatie h3 {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  color:#253529;
}

.onderkant-motivatie p {
	color:#253529;
	font-weight: bold;
	font-family: sans-serif;
}
